.wrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-input {
  min-width: 180px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 7px rgba(255, 255, 255, 0.3);
  transition: background-color 250ms ease-in-out;

  @media screen and (min-width: 480px) {
    width: 320px;
  }
}

.search-input:focus,
.search-input:hover {
  outline: none;
  background-color: #ccc;
}