.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  min-width: 180px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 7px rgba(255, 255, 255, 0.3);
  transition: background-color 250ms ease-in-out;
  @media screen and (min-width: 480px) {
    width: 320px;
  }
}

.input:focus,
.input:hover {
  outline: none;
  background-color: #d5edfd;
}

.error {
  font-size: 14px;
  line-height: 142%;
  color: #ef4444;
}

.error::before {
  content: "⚠️";
  margin-right: 4px;
}

.gBtn {
  border: none;
  background-color: #4285f4;
  color: #fafafa;
  transition: background-color 350ms ease-in-out, color 550ms ease-in-out;
}

.gBtn:hover,
.gBtn:focus {
  color: #4285f4;
  background-color: #fafafa;
}

.margin {
  display: block;
  padding-left: 9rem;
  padding-block: 6px;
}

.resetPwd {
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
  left: 12rem;
  color: #262626;
  font-weight: 400;
  font-size: 18px;
  padding: 8px;
  letter-spacing: -0.02em;
  line-height: 130%;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 7px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.resetPwd:hover,
.resetPwd:focus {
  outline: none;
  background: #ccc;
}
