.contact {
  color: #262626;
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  border: 1px solid #0a0a0a70;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.icon {
  fill: #262626;
  width: 18px;
  height: 18px;
}

.contact-name {
  font-size: 18px;
  font-weight: 700;
}
